*{
    margin:0;
    padding:0;
}
#title{
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}
.nav_Bar{
    list-style: none;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}